.SearchBox {
  text-align: center;
  margin-bottom: 2rem;
}

.SearchBox form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap; 
}

.SearchBox h3 {
  margin-bottom: 1.5rem;
  font-weight: 500;
}
